[2014-12-12 15:35] nnajm opened #1 "Create default aggregation functions"

[2014-12-12 15:38] nnajm opened #2 "Implement filtering feature"

[2014-12-15 16:36] #1 closed, assigned to nnajm

[2014-12-25 09:50] nnajm opened #3 "Add browser support information"

[2014-12-25 09:51] nnajm opened #4 "Documentation own page"

[2014-12-29 16:00] nnajm opened #5 "Keep expanded/collapsed state when sorting"

[2014-12-29 16:00] #4 closed, assigned to nnajm

[2014-12-29 17:37] #5 closed, assigned to nnajm

[2014-12-30 16:20] nnajm opened #6 "Implement drill down"

[2014-12-30 16:21] nnajm opened #7 "Add support for config rows/columns/data properties being names/captions only (not pivot grid field object)"

[2014-12-30 16:37] #6 closed, assigned to nnajm

[2014-12-30 16:37] #7 closed, assigned to nnajm

[2015-01-05 15:26] nnajm opened #8 "Add theming support"
colored themes+bootsrap

[2015-01-18 18:41] nnajm commented on #2
:thumbsup:

[2015-01-18 18:41] #2 closed

[2015-01-19 11:49] #8 closed

[2015-02-10 16:46] johnpletka opened #9 "Handle dynamic data changes"
Is there a way to feed data changes into the datasource and have the aggregates recalculated?  I have a requirement to support data-changes over time.  If the control currently does not support it, could you point me in the right direction to add it?

Thanks

[2015-02-11 10:32] nnajm commented on #9
Hello,

Sorry, it's not documented, but it's possible. You need a reference to the `orb.pgridwidget` instance, then call its [`refreshData`](http://nnajm.github.io/orb/documentation.html#Methods-refreshData) method with the new data source array. Sorting, filtering, collpsed states will be retained.

The website is now updated with this information.

[2015-03-24 10:55] ValentinH opened #10 "Change the aggregateFunc of a data from the UI"
First, thanks for this awesome work!

Then I have a question: I don't know if it is already possible or if it would be hard to develop this feature but, is it possible to enable the user to directly change the aggregateFunc from the UI?

My idea is that when a field is dropped in the data area, the current aggregateFunc is shown like this "(sum)". Then this field could be clickable and display a p

[2015-03-24 11:30] ValentinH opened #11 "Custom theme support"
What is the best way to go to create my own theme?
Is it currently possible with the current version?

[2015-03-24 11:55] ValentinH opened #12 "header-col getting larger when click on a field button"
I have noticed that on Chrome and Firefox, when you click on a field button, the colgroup first column gets 1px larger. and stops after 5 clicks.

[2015-03-24 16:59] ValentinH opened #13 "aggregateFunc option of Field not working"
Maybe I don't understand how to use it, but when I set aggregateFunc to 'avg' on a field using this syntax:
[code]
The created field button displays "Test (avg)" if I place it in the data area, however the table is still using the sum aggregate.

In [the example](http://nnajm.github.io/orb/index.html), you use this syntax:

[code]

and it does work.

What is the reason I can't use directly the agg

[2015-03-24 17:10] ValentinH commented on #10
I have started to work on this feature but this is the first time I use React.js so it is quite slow.

However, here is my idea:
1) In the config object, add an 'aggregates' option that is an array of this suggested object:
[code]
2) Display the field button like this when dropped in the data area: 'Caption (Average)' and then two options:
- add an icon to change the aggregate function
- directly

[2015-03-25 10:43] ValentinH opened #14 "Use of custom aggregation function displays wrong name"
If you set a custom aggregation in the aggregateFunc setting, the field still displays (sum) when dropped in the data area.

Indeed, when setting a custom function, I don't see currently any way to set this name. Maybe an aggregateFuncName option would be appreciable but I don't know if it is the best way to do it...

[2015-03-25 16:23] nnajm commented on #10
Hi Valentin,

thanks for your interest in this project.

Changing the aggregate function from the ui is in the road map. Your idea is good, but there is already a popup to filter the data. If you could add this functionality to that popup for data fields, it is better.

Thanks.

[2015-03-25 16:32] ValentinH commented on #10
I understand but I think that filtering and aggregation are different features so I don't understand why the user should select the aggregate function inside the filter popup.

[2015-03-25 16:47] ValentinH opened #16 "Pivot table displays empty instead of zero by default"
Is it on purpose that if I don't overwrite to formatFunc like in the example:
[code]
the cell displays a blank instead of 0?

[2015-03-25 18:05] nnajm commented on #10
What I mean is to transform the filtering popup to a field settings popup including: filtering, changing aggregation function when in data area, and later other settings. User can change many things at the same place with a lightweight ui.

Something like this:

![popup](https://cloud.githubusercontent.com/assets/4428419/6831564/62c46be2-d321-11e4-950b-040c08ec1888.png)

[2015-03-25 18:55] ValentinH commented on #10
OK I got the idea for the UI.
What do you think about my way of dealing with the data and the config (in the PR)?

[2015-03-25 19:08] nnajm commented on #13
It's a bug :bug:...

[2015-03-25 19:12] nnajm commented on #14
`aggregateFuncName` already exists, it's just not documented. Sorry for that.

[2015-03-25 19:14] ValentinH commented on #14
OK I understand. Indeed, I had seen `aggregateFuncName` in the code but I wasn't sure it was accessible from the config.

[2015-03-25 19:15] nnajm commented on #16
A blank cell means that no data was found for the target dimensions. If data exists and the result is 0, it should be displayed. Will fix it, it's a bug.

[2015-03-25 19:31] ValentinH opened #17 "Lateral menu out of screen (documentation)"
![capture d ecran 2015-03-25 a 20 31 22](https://cloud.githubusercontent.com/assets/2678610/6833510/ef70e654-d32d-11e4-89ad-3b3640ec5060.png)

[2015-03-25 19:35] ValentinH opened #18 "Prevent non-number in aggregate function"
I think aggregation on string should not be possible because it leads to weird/unpredictable results:
![capture d ecran 2015-03-25 a 20 33 01](https://cloud.githubusercontent.com/assets/2678610/6833555/4cc35774-d32e-11e4-9f67-c4edff085a41.png)

I have started to work today on a patch that return a blank value when the input data is not a number (using `typeof(val) === 'number'` because strings lik

[2015-03-26 17:45] #17 closed

[2015-03-26 17:46] nnajm commented on #17
Thanks, fixed (by adding some responsive design).

[2015-03-27 15:44] nnajm opened #19 "Drill down: empty grid when data source is an array of objects"

[2015-03-27 15:51] ValentinH opened #20 "Drill-down not working with Array of objects"
In the example, the drill-down works correctly but in my case, I use a datasource which consists in an array of objects and the drill-down grid is always empty.

I have noticed that [this line](https://github.com/nnajm/orb/blob/master/src/js/react/orb.react.Grid.jsx#L26) is the source of the problem because it iterates on data[i].length while data[i] is an object.

If I replace it by:
[code]
it wo

[2015-03-27 15:54] ValentinH commented on #19
I was writing the same issue exactly in the same time! I provided a patch in a pull request for it... ;)

[2015-03-27 15:56] ValentinH commented on #20
Duplicate of #19

[2015-03-27 15:56] #20 closed

[2015-05-20 15:42] babyman opened #23 "JavaScript error when dataSource is an empty array"
In version 1.0.8 if the dataSource is set to an empty array like so:

[code]

Chrome registers a JS error "Uncaught TypeError: Cannot read property 'parent' of undefined".  My intent was to load the data via ajax in a separate call, my current workaround is to hardcode a single row of data with zeros and "Loading..." as its content, this seems to work for the time being.

Thanks for the great work

[2015-06-28 18:05] #9 closed

[2015-06-28 23:09] nnajm commented on #12
:thumbsup:

[2015-06-28 23:09] #12 closed

[2015-06-28 23:09] nnajm commented on #13
:thumbsup:

[2015-06-28 23:09] #13 closed

[2015-06-28 23:09] nnajm commented on #14
:thumbsup:

[2015-06-28 23:09] #14 closed

[2015-06-28 23:10] nnajm commented on #16
:thumbsup:

[2015-06-28 23:10] #16 closed

[2015-06-28 23:10] nnajm commented on #19
:thumbsup:

[2015-06-28 23:10] #19 closed

[2015-06-28 23:10] nnajm commented on #23
:thumbsup:

[2015-06-28 23:10] #23 closed

[2015-07-09 15:21] ValentinH commented on #12
I just test the demo site and now the column gets 1px smaller on the first click! :D

[2015-07-09 16:20] jangorecki opened #24 "Export to csv"
Besides of export to excel file it would be really nice to have extract to some open-ish standard format. The most standard one would be a csv file.
It should only require to deal with column names by concatenating as the example below:

[code]
to
[code]

[2015-07-09 16:24] jangorecki opened #25 "React-native"
Did you looked at [react-native](https://github.com/facebook/react-native)? Looks to be quite popular too, and maybe worth to switch from react? and it usually easier to made a switch sooner than later. Not sure what advantages it could bring other than performance(?). What do you think?

[2015-07-09 16:26] jangorecki opened #26 "Charting pivot data"
A good example of potential future requests can be a [pivottable](https://github.com/nicolaskruchten/pivottable) library. There is a nice feature of charting pivot results. At some point it would be nice to have it too, or at least a json interface to the pivoted data so it can be picked up by external charting library more easily.

[2015-07-09 17:10] ValentinH opened #27 "sort customfunc working?"
I'm trying to provide a custom sort function but it doesn't work. My function is never called actually...

Do you have any example?

[2015-07-10 08:08] ValentinH opened #28 "Use svg/icon font instead of png for icons"
Currently color of icons can't be customized because they are PNG. I think it would be could to be able to change their color to deeper change the customization.

Using icon font or svg is a solution I guess.

[2015-07-25 14:26] nnajm commented on #24
Is this a standard csv export format for pivot tables? What about this format:

*(Treating the pivot as a table)*

[code]

[2015-07-25 15:11] nnajm commented on #27
That's weird. I found out that I forgot to implement it... Will be fixed in next release. Thanks.

[2015-07-25 15:11] #27 closed

[2015-07-25 15:18] nnajm commented on #28
I didn't want to this library depend on external resources (apart from the js & css files) but I think that is unavoidable as more images are needed and embedding images in css limit customization and quality. Will include this in the roadmap (may be next release).

[2015-07-26 11:43] jangorecki commented on #24
I don't know which structure would be more *standard* but getting a csv file I would assume it's structure will be a table structure (at most 1 row of header), not any kind of pivot table structure (2+ rows of header). I see the csv as a structure which should not require additional metadata to be loaded, the structure you've prepared would be significantly less portable. While there is a excel ex

[2015-08-10 18:58] nirber opened #29 "Scroll & drill-down are not working on touch screens"

[2015-08-11 22:15] ztrayner commented on #18
@ValentinH  Any luck with this patch? It would definitely be useful.

[2015-08-16 13:14] michaeljosephrosenthal opened #30 "Make pivot structure query-able"
Would be nice to get the json representation of the current layout, with rows, columns, etc.
Ultimately wanting to set a cookie for reloading the user's desired layout

[2015-08-20 15:35] ValentinH opened #31 "[v1.1.0] Scroll broken on filters popup"
With the 1.1.0 version, when I open a filter popup of a field, I can't scroll the list of matches (.fltr-vals-col) with the mouse wheel. It is working fine using the current master version (v1.0.9).

[2015-08-20 16:13] ValentinH opened #32 "FormatFunc not working is placed at the root of a field options object"
If I do:

[code]

The custom format function is not called whereas if I do that:
[code]
It does work.

Is it a bug?

[2015-08-20 16:53] ValentinH opened #33 "onDrop callback to validate/reject a drop"
I think it would be useful to be able to validate when a field is dropped either in the data, rows or column area.

For instance, if having columns=[A] and rows[B] and knowing that, if the user drop the C field in the rows area, it will make his computer burns, it would be nice to prevent him from doing so (at runtime) and then displaying a info message (not handled by this plugin).

Something lik

[2015-09-17 14:26] maartendraijer commented on #30
Yeah, something like this would be very handy: http://nicolas.kruchten.com/pivottable/examples/onrefresh.html.

[2015-09-21 11:30] maartendraijer opened #34 "[Safari] No horizontal scrollbar"
Using Safari (8.0.8) the horizontal scrollbar is missing. It seems like Orb is only adding this (empty) div:
[code]

Where in Chrome it adds this:
[code]

Any idea how to fix this?

[2015-09-21 15:41] maartendraijer opened #35 "formatFunc error"
Steps to reproduce:

1) Go to http://nnajm.github.io/orb/
2) Drop `Quantity` to the right of `Amount` (within the Data fields)
3) Now the `Quantity` cells within the grid all display: `function n(e){return null!=e?e.toString():""}`.

Also - perhaps related - when you drag a Data field to Fields and put it back in to Data, the formatting of the cells is gone again.

[2015-10-05 11:55] Amara-Balakrishna1 commented on #33
how can we know the region where it is dropped i to facing the same issue.

[2015-10-05 12:06] ValentinH commented on #33
It's not currently possible but I can post the PR I have started to work on.

[2015-10-05 15:25] Amara-Balakrishna1 commented on #33
where he changing the config after drop can we aware of that.

[2015-10-06 12:54] Amara-Balakrishna1 opened #36 "how to delete the field button"
i want remove the field row/column/data.after preparing grid.is it possible.

[2015-10-12 16:50] wilcraig commented on #18
Created a patch that I will PR. Creates a new "none" aggregateFunc option to allow using text fields.

[2015-10-12 17:14] wilcraig commented on #35
Having serious issues with this. Definitely need to get this fixed. I am more than happy to work on this if I could get an idea of where the issue is stemming from.

[2015-10-14 00:03] michaeljosephrosenthal commented on #35
just spent about 2 hours digging around the source for this - when the drag and drop is triggered, the field becomes undefined in all rows, and that somehow causes the return of the uncalled function. I think it's because some id somewhere in the dataRows structure doesn't get updated, but any insight from @nnajm would be greatly appreciated

[2015-10-14 21:09] michaeljosephrosenthal commented on #35
I fixed this issue in my clone - https://github.com/michaeljosephrosenthal/orb/blob/master/dist/orb.min.js
I changed some other things, but I think the main source of the bug was this diff:
[code]

[2015-10-20 06:38] maartendraijer commented on #35
@michaeljosephrosenthal Cool! I've tried your version and it works flawlessly.

[2015-10-29 13:33] catogonzalez opened #38 "Integrate with Rails"
Thanks for this great component!

I am trying to get it working inside a Rails app without luck so far. I installed the component with `npm install orb` installed also the [react-rails](https://github.com/reactjs/react-rails) gem to cover the React dependency, but when I run the app I get:

`Uncaught TypeError: Cannot read property 'createClass' of undefined` which I believe is thrown by react, an

[2015-11-14 14:44] maartendraijer opened #39 "Filtering out blanks does not seem to work"
When you click on the filter icon and uncheck `(Blank)`, nothing actually happens.

[2015-11-16 19:04] ograndebe opened #40 "When using too much fields , a blank space appears"
When the list of fields overflow the field space, a blank space appears on right side of rows grand total.
The more Fields i put on, the worse it gets.

[2015-11-18 11:01] ograndebe opened #41 "How to get the config (made by the user) and refresh (with stored config) via javascript?"
I tried to store a config object and change the configuration via Javascript. But, after first config refresh, the pivot table not work properly.

There's an example:
[code]
![Uploading problema_orb.PNG…]()
this problem occurs when I drag the fields after the first refresh

[2015-11-18 11:02] ograndebe commented on #41
![problema_orb](https://cloud.githubusercontent.com/assets/7672008/11239432/160143bc-8dd3-11e5-804b-fe527ee7f7c0.PNG)

[2015-12-02 22:04] EduFrazao commented on #41
Save and restore the current state is a great feature. I think that state changes can be notified by an event or requested via API. So we can restore it anytime later. Its not supported by default?

[2015-12-04 12:25] EduFrazao opened #42 "Is possible to add calculated columns, like another "Grand Total"?"
Its possible to create another calculated column, like the Grand Total, but with a custom aggregate function?

I have this scenario:

_________Expected__Realized__Calculated_____Grand Total     (no even necessary in this case)
Row 1_______10_______5________50%____________15
Row 2_______20_______10_______50%____________30

How can I do such thing?
The Realized and Expected columns are only a column

[2015-12-04 19:37] EduFrazao commented on #42
Problem solved. I added another Field, that not exists on datasource, with a custom aggregator, that reads the values of the intersection and produce the generated result:

[code]

[2015-12-04 19:37] #42 closed

[2015-12-04 20:07] EduFrazao opened #43 "Internationalization support"
Is there any internationalization support that we can use without directly change the strings in the source? If not, can anyone provide a kickstart on creating support for a strings dictionary. I'm a newbe with CoffeeScript.

[2015-12-08 01:03] EduFrazao opened #44 "Field FormatFunc when displayed as column"
Its possible to define a Format Function to be used when a field is droped to the Column axe?
It will be quite useful when used with a custom sort function, for example.

[2015-12-09 08:36] haozecc commented on #42
[code]
Can you tell me these code where you defined? options.fields? @EduFrazao
Thank you.

This is my code,but it's not valid.
[code]

[2015-12-09 13:12] EduFrazao commented on #42
Hi @haozecc .
I cant reproduce a 'Grand Total' like column, but with this code, I was wable to produce a entirely dynamic field, that can only appear on the data axis.

[code]

I repeat, this field can only be used on the data axis. As Column or row, it not works, because it does not exists on datasource.

[2015-12-09 13:16] EduFrazao commented on #33
Any news on this issue? It sounds like a great feature.

[2015-12-11 20:40] rpryde opened #45 "IE11 Compatibility Issue"
Tables do not expand/collapse corrrectly clicking on first rows or columns.  Attached image using demo page.
![orbrender](https://cloud.githubusercontent.com/assets/4851631/11755024/6e226dda-a01d-11e5-8fed-8456bf4e7ffd.png)

[2016-01-12 23:54] reactima opened #46 "Mixing Orb 1.1.0 with popular Redux boilerplates"
Hi, thanx for great work! I wish

Mixing Orb 1.1.0 with popular Redux boilerplates isn't straightforward process.

Instead of going from import ord from 'orb' and smth like <orb config={config} />

I ended up with the following code
---------------------------
import React, {Component, PropTypes} from 'react';
import ReactDOM from 'react-dom';

window.React = React;
window.ReactDOM = ReactDOM;
con

[2016-01-21 05:04] rrevanth opened #47 "Pagination for table"
It would be great if the component also has pagination for results.

Is their any method to support pagination?

[2016-02-01 14:28] kipud opened #48 "unmount componenet / remove from memory"
Please create a way to remove the pivot componenet.
i tried
`ReactDOM.unmountComponentAtNode(renderElement);` in "orb.ui.pgridwidget.js" file where it uses `ReactDOM.render(...)`

i removes it but then when i recreate the element the drag and drop does not funcion.

[2016-02-01 15:31] kipud commented on #48
adding
'this.unmount = function() {
        ReactDOM.unmountComponentAtNode(renderElement);
    };
'
after `this.render = ...` in "orb.ui.pgridwidget.js" adds a new unmount functionality that remove it completely - didnt check for memory issues yet.

[2016-02-02 14:06] kipud commented on #48
as per the memory issues i guess it DOES NOT remove stuff from its memory ( i am NOT a react expert a total novice) to prove that i have render the pivot table again and the settings of the dimensions (if folded open or not) were kept for each field.

any ideas??

[2016-02-03 14:33] rrevanth opened #49 "styling!"
Is it possible to style the components to fit.

It is taking fixed width and when I click on cell,the popped data is going out of screen width rather than being responsive!

Also the elements are becoming smaller and it is becoming harder to distinguish their names!

[2016-02-11 20:02] mnbattaglia commented on #48
I have the same problem. Did you manage to solve it? I want to redraw the widget with a different configuration. What I do is to remove all DOM elements & re-render the widget. Everything works fine, except the drag & drop of fields.

[2016-02-11 20:02] mnbattaglia commented on #43
+1

[2016-02-14 09:53] largesoft commented on #47
I second this

[2016-02-18 09:24] kipud commented on #48
Hi @mnbattaglia that doesnt work because you need to unmount the react componenet. in my above posts i have explained that i have added this code:
[code]

i have added this code the file 'orb.ui.pgridwidget.js' then rebuild the project with gulp and used the built resulted one file 'orb.js' (or the other versions that are being created) and used that as the file for my project.

then when you norm

[2016-02-18 17:25] jmartinez-emagina commented on #46
Hello @reactima. Any update about this?. I am trying to integrate orb with React 0.14 but I received an error:

_Uncaught TypeError: Cannot read property 'createClass' of undefined_

Do you have any example that you could share?.

Thank you

[2016-02-26 00:08] mnbattaglia commented on #48
@kipud Thanks for your reply! I'll give it a try!

[2016-03-04 13:56] EduFrazao opened #50 "Is ORB still mantained?"
This software is still mantained? We are planning to intensify the adoption of it in our application, but the latest closed bug was on July of 2015. The are many opened issues and no answer of the repository owner.

[2016-03-07 11:27] marciopaulinocampos opened #51 "Problem fields move items "Data""
Hi good morning. I started using your pivot, but it's happening an error: Problem fields move items "Data". Example, exchanging "Amount" for "Quantity".

[2016-03-07 13:02] marciopaulinocampos opened #52 "Another question, possibilities to create virtual column."
Example: I have a column with a total amount of people, and another column with the value of the evaluation score. I want it, a virtual column to show the percentage.

[2016-03-07 13:04] marciopaulinocampos opened #53 "Create average, disregarding values 0 or null."
Create average, disregarding values 0 or null.

[2016-03-08 11:25] marciopaulinocampos opened #54 "I suggest creating heatmap of values"
The values are with the background color starting from light to darker color.

[2016-03-08 14:10] EduFrazao opened #55 "Orb loose state when render node is dettached"
I'm using a UI Toolkit that dettaches unused Dom elements. For example, on a tab component, when a tab is selected, the previous tab content is dettached from DOM. Is not a simple "display:none". But the DOM Node is not destroyed. When the TAB selected again, the node is reattached to the DOM, but Orb loose the state. Selected columns, rows and data is reseted to the initial state.
Theres somethin

[2016-03-10 16:50] marciopaulinocampos opened #56 "Data selection of the fields is not ordering"
It is only running the prefixed ordering of the field.

[2016-03-11 13:04] ValentinH commented on #45
Same problem here:
![2016-03-11t13 03 42 523z](https://cloud.githubusercontent.com/assets/2678610/13702911/24a7a1fe-e792-11e5-95ae-f7609ccf2cd4.gif)

[2016-03-11 14:38] EmilMoe opened #57 "Active?"
Is this project still active and being maintenanced or do you recommend me something else?

[2016-03-11 17:24] ValentinH commented on #33
@EduFrazao I have submitted a PR that implements this feature: #58

[2016-03-11 17:34] EduFrazao commented on #57
I've made this question 7 days ago. Until now, no response. There are some pull requests that was never applied or rejected. I think that its not active anymore. Theres no mantainer comments on any new opened issue.

[2016-03-11 17:36] EduFrazao commented on #33
Thank you very mutch for share your effort with us. Its a nice feature. I
will merge it on my fork!

Eduardo Frazão

2016-03-11 14:24 GMT-03:00 Valentin Hervieu <notifications@github.com>:

[2016-03-11 17:54] marciopaulinocampos opened #59 "On the sum, avg, min, max ... error 'val' variable"
The variable 'val' no convert number. I suggest entering Number(val) conversion.

[2016-03-11 18:04] marciopaulinocampos commented on #57
I believe that the project is active.
See recent commits: https://github.com/agstudy/rpivot/commits?author=nnajm
Regards.

[2016-03-11 18:21] EduFrazao commented on #57
There are some feature requests on the orb project that was applied on the rpivot. Without a mantainer note, we cannot figure out for sure the evolution path of Orb. RPivot is tagged as BETA. Maybe its an Lab for ORB?

[2016-03-12 05:43] EmilMoe commented on #57
But how come, @marciopaulinocampos, that they are not merged to the master since almost a year ago?

[2016-03-12 16:41] marciopaulinocampos commented on #57
EmilMoe, this project seems to be paused. But the owner seems to be alive. At least we can see moves it elsewhere.

[2016-03-14 10:39] ValentinH commented on #45
@rpryde Did you manage to find a patch/workaround?

[2016-03-15 11:08] marciopaulinocampos commented on #57
Mrs. in rpivot project, orb.js file has several fixes.
https://github.com/agstudy/rpivot/tree/master/inst/htmlwidgets/lib/orb-1.0.9/
The fixes are in orb.js and not the orb-1.0.9.js.

In orb.css file add the following lines:
.orb .fld-btn .caption div {padding-right:3px;float:left}
.orb .fld-btn .caption .agg-selector div {padding:0px; border:none}

[2016-03-24 07:47] Zarkos69 commented on #57
This would be such a shame when this project isn't being managed anymore :(

[2016-03-30 13:12] ahmad003 opened #60 "How To Make AggregationFunc Like "Show Values as % of Row Total" function in excel pivot table"
Do anyone know how to make aggregationFunc to do fraction of result table with row's grand total ?
Like "Show Values as % of Row Total" function in excel pivot table.

[2016-03-31 09:33] ahmad003 commented on #60
or do anyone know **how to make diferent aggegation for sub totals and grand totals**, cause i try compute in query for "Show Values as % of Row Total" like function, but when in sub totals and grand totals it just sum up the value. Thanks in advance...

[2016-04-06 10:14] ayozebarrera commented on #26
+1

I was between pivottable and orb, but I decided to go with pivottable thanks to the charts. Orb has nice features but I think charting must be one

good work

[2016-04-12 16:46] pedrotvr opened #61 "Sort Elements by Data"
It's even possible to order elements by Data value?  For Quantity for exemple...

[2016-04-18 14:18] marciopaulinocampos opened #62 "Hello !!"
Hello !!

[2016-04-19 20:58] EduFrazao commented on #62
Testing?

[2016-04-28 09:10] ahmad003 commented on #60
No Answer (--____--)

[2016-04-28 14:47] mpujari opened #63 "Using orb in Ember-Cli"
We are trying to use Orb in ember-cli but when we call below code

[code]
OR
[code]

Nothing gets displayed and there are no errors.

Note: In the template we do have a div with id 'pgrid'

Am we missing something?

[2016-04-28 15:05] Zarkos69 commented on #63
I think you might have forgotten to place # before pgrid ?

# for ID & . for Class

new orb.pgridwidget(config).render($('#pgrid'));

Maybe you could try (making an instance first, worked for me):
[code]

[2016-04-29 10:18] #63 closed

[2016-05-19 05:04] katherdx opened #64 "How to achieve lazy rendering on scroll function."
orb using reactjs for fast rendering but some times its very slow. I need to achieve lazy loading on scroll function.

I am new to react I don't know how to achieve lazy loading. please give any idea or demo.
My working example : jsfiddle.net/katherdx/fctcmyc8/1

[2016-05-22 15:46] heenamahour commented on #26
+1

[2016-05-30 04:27] ahmad003 commented on #62
Do anyone know how to make aggregationFunc to do fraction of result table with row's grand total ?
Like "Show Values as % of Row Total" function in excel pivot table.

[2016-05-31 15:45] katherdx commented on #10
@ValentinH  Can you share aggregateFunc code that is  Change the aggregateFunc of a data from the UI  ?

[2016-06-14 18:43] castalheiro opened #65 "Fields row hides extra fields"
![picture1](https://cloud.githubusercontent.com/assets/4572839/16055167/14f86a1a-3268-11e6-9f7e-8a0947888178.png).

Ideally, the extra fields should appear in a row below.

[2016-06-23 15:07] theadam opened #66 "Table renders incorrectly on safari"
When opening just the first level, the row headers render with a blank space on safari.  This causes all the numbers below the issue to be misaligned.

https://jsfiddle.net/2vedw2vn/2/

![image](https://cloud.githubusercontent.com/assets/850881/16308372/b82518ca-3932-11e6-9634-8de71c24b7f5.png)

[2016-06-29 11:18] noodle71 opened #67 "Gulp problems"
Hello,

I've tried to run gulp but I get an error.

This is solved changing in the **package.json** file the version for gulp-less module:
`"gulp-less": "^3.0.5",`

Otherwise, you'll get this error:

/home/afernandez/repo/github/orb/node_modules/gulp-less/index.js:68
    }).done(undefined, cb);
       ^

TypeError: less.render(...).then(...).catch(...).done is not a function
    at DestroyableTran

[2016-07-10 19:14] sanketjoshi4 opened #68 "Horizontal Scroll"
This only works if the mouse is on column headers, and not on the table body

[2016-07-15 09:49] trucnguyentrung opened #69 "Overflow-x and difficult to drag the fields to table."
Hi @nnajm
First of all, I have to say this is an awesome plugging for user. I appreciate that.
But it's seem there some issue.
When rendering so many fields, those will be cut off in the right-side. To show them need to set overflow scroll for the wrapper div. But it will be very difficult for user when they want to drag the field back the left-side. (**dragging and scrolling to the left are diffi

[2016-08-24 12:57] conor909 commented on #50
Last commit on 28 Jun 2015

[2016-08-26 04:12] xydotguy commented on #48
I have an error message when I tried to do this. "Uncaught ReferenceError: ReactDOM is not defined".  Looks like the react.js does not load appropriately. But if I add var React = require('react'), the error message would be "Uncaught error cannot find module react". Any suggestion is appreciated.

[2016-09-09 14:20] nandininagaraj24 opened #70 "Display grand totals before pivot columns"
Since my table is large I want to display grand total column as the first column before the pivoted columns columns.
I have 2 aggregated measures

Is there a way of achieving this?

Attached is a screenshot of a portion of the table.

![image](https://cloud.githubusercontent.com/assets/10369135/18390097/df46d9e4-7676-11e6-94cb-f7c27b49ad2d.png)

[2016-10-12 04:27] sdementen commented on #26
+1

[2016-10-24 13:35] mrn3 opened #72 "Not working on React 15"
I am trying to use orb on React 15 and it looks like it isn't updated to support this.  I get:

Uncaught TypeError: Cannot read property 'createClass' of undefined

Any chance it will be updated soon?  Do you accept pull requests?

[2016-10-28 02:49] Seungwoo321 opened #73 "I want "not colspan"

[2016-11-12 15:01] alokreddy opened #74 "Sorting on rows with customfunc."
I would like to know if sorting on predetermined arrays is possible.

How to pass a custom sorting function if I would like to sort a row in predetermined fashion.

Row has values like `["W1", "P2", "M1", "S5"]` the `customfunc` should give `["M1", "P2","S5","W1" ]`

All the sorting should be as per this array -->`["EX", "M4", "M3", "M2", "M1", "P6", "P5", "P4", "P3", "P2", "P1", "S6", "S5", "S4",

[2016-11-15 02:35] alokreddy commented on #74
I have sorted the data before loading and it solved my problem. Being able to do with function would be a great feature as it adds to dynamic nature of the tool.

[2016-11-15 02:35] #74 closed

[2016-11-16 21:06] alokreddy opened #75 "Row headers and data row heights not matching."
While showing text in data area - the app's row headers and data rows are not aligned.
Can someone help in fixing that? Thanks.

[2016-11-17 12:20] gibranrosa opened #76 "[Newbie] How to use this component inside JSX"
I tried every way I know (not so many though :/) but could not make this work inside the JSX. Is there a way out of the box or I have to implement myself a normal React render() function, which returns a React Component, not actually renders it?
Newbie question, but I would be glad I someone could clarify it for me.
Thanks

[2016-11-21 05:48] thecodejack commented on #72
https://github.com/nicocrm/orb is working with latest react

[2016-11-21 07:59] tinhour opened #78 "Can u upade React version to latest"
Can u upade React version to latest support ReactDom.render function,
this version using React.render not supported in new version react.
I just used latest React  @to render my page and so when orb run in my page it's cause error.
@nnajm

[2016-11-21 12:53] alokreddy commented on #75
Solved with below code.

[code]

[2016-11-21 12:53] #75 closed

[2016-11-23 20:56] cohenoshri commented on #50
I am considering rebuilding this project in TS/React.

[2016-12-02 11:11] fcafra opened #79 "Uncaught TypeError: Cannot read property 'formatFunc' of undefined"
Hi,
i try to export to excel but failed with the error write on title.

When   data is Empty    : [  ]

Can anyone help me ?

[2016-12-20 14:54] kvnaveen opened #80 "No aligning properly when column headings are more is size"
This looks awesome, But only problem with this is if the column headings are variable in size and larger then value rows and column rows are not aligned properly.

Following are the versions am using.

reac.js version : 0.14.0-alpha1
orb.js version : 1.0.9

[2016-12-21 15:29] stephanoapiolaza opened #81 "MultiLanguage"
Dear,
This library is awesome, but needs support multilanguage.
Anyone have a good idea for this?, I am modifying the library and config has support, It doesnt have will take default values

[2016-12-21 19:12] stephanoapiolaza commented on #81
I did it , I´ll do a pull request.

[2017-01-10 11:02] ndroock1 commented on #57
It seems -we are on our own-.

[2017-01-11 10:25] marciopaulinocampos commented on #57
This idiot creates a fantastic project and then disappears.

Enviado do meu iPhone

[2017-01-13 11:20] thecodejack commented on #57
Well this guy did same with other projects as well..i personally mailed him if he needed any support...but no response..

[2017-02-01 12:01] Arpple opened #82 "Question : drill time data using date/month"
as topic. I can't figure how to do it.
thanks.

[2017-02-07 12:23] gitolog commented on #51
Same issue. When changing position of "Data" fields pivot shows an aggregation func. code instead of values

[2017-02-14 11:18] fcafra commented on #51
Same issue.

[2017-02-18 22:57] super-cache-money commented on #57
:(

Let's fork it?

[2017-02-21 05:58] thecodejack commented on #57
If someone creating fork, let me know. I can help with some new features I developed in orb.

[2017-02-22 21:38] hsellou commented on #72
I want to try this component but I can't.
I've got the same error due to the same reason.

Any chance to merge this PR ?

[2017-02-23 21:45] vrsanthosh83 opened #83 "Issue in Date sorting. It consider date value as string while sorting"

[2017-03-06 15:36] sbcpdjacobus opened #84 "Question: Clear grid"
I'm looking for a method in which to clear this grid. setting innerHTML to "" causes failure within react.js. Is there a simple means to clear the grid so that it's data can be driven by a select control?

[2017-03-21 16:58] ariutta commented on #57
Hi @nnajm,

Thanks for making this great library!

If you have 30 seconds sometime, it would be awesome if you could add collaborators to [this repo](https://help.github.com/articles/inviting-collaborators-to-a-personal-repository/) and the [NPM package](https://docs.npmjs.com/all#giving-access-to-others) in order to keep development in one place instead of being scattered all over. The user `supe

[2017-03-22 08:01] rezenvar opened #85 "How to use it with latest react and jsx?"

[2017-04-19 14:27] Rvach commented on #41
Basically you have to save all the fields and applied filters manually.
1) Use these functions to retrieve fields and their positions:

2) Get filter for each field using:

To restore fields and filters use you have to know current positions of each field (repeat previous steps to get current pivot state) then you should:

3) Restore fields positions with

4) Restore filters with

[2017-05-03 16:01] whebz opened #86 "can't handle large dataset"
i tried using it with 20k records but it did crash. I can't remember exactly the error message
but it's about memory. It appears that it use too much memory per record.

[2017-05-05 09:31] davidpelayo commented on #81
@stephanoapiolaza where is the PR? Willing to see it

[2017-05-09 14:19] stephanoapiolaza commented on #81
@davidpelayo I did the change in my local repository, I forgot to do a pull request, do you need it yet?

[2017-05-11 08:36] davidpelayo commented on #85
We need to PR a version in which integration with React is explained within an example.

[2017-05-11 08:37] davidpelayo opened #87 "Not longer mantained?"
I wonder whether this repo is being maintained or not.

In case not, I will fork and publish it on my own so we can go maintaining this cool idea.

Any feedback?

[2017-05-11 08:40] davidpelayo commented on #50
@cohenoshri I'm willing to do it in ES2017/React, but not TS.

[2017-05-11 08:41] davidpelayo commented on #57
This question relates to #87 and #50.

[2017-05-11 08:59] davidpelayo commented on #87
I started the new fork on this repo: https://github.com/davidpelayo/orb-latest.

[2017-05-11 10:19] cohenoshri commented on #50
That's fine TS is just a substitute for ES2017.
Inmight be able to find time and help

This is a thumb typed email

[2017-05-11 11:49] marciopaulinocampos opened #88 "Some fixes in version 1.1.0 ..."
https://github.com/nnajm/orb/tree/v1.1.0/dist/v1.1.0
In this version there are several fixes, including I use this, in the implementation only changes is how to create the parameters.

[2017-05-15 17:01] devin42r opened #89 "Sort/order values in field"
I searched through documentation but could not find a means to sort/order items in fltr-vals-tbl.  Is there a means to do so?  Ultimately I think I'll have to write some jquery to organize because of presence of quarter and year in string, but just curious if there is a shortcut.
![quarter](https://cloud.githubusercontent.com/assets/9112811/26069372/d9f0fbd2-395d-11e7-871c-ee47d514e567.PNG)

[2017-05-15 21:17] devin42r commented on #89
Fixed by editing this.getFieldValues to sort differently on the given field..

[2017-05-15 21:17] #89 closed

[2017-06-08 09:39] davidpelayo commented on #87
@nnajm are you still up to maintain this repo? Can you transfer the ownership of the domain name to me so I can continue with this project? Thanks in advance.

[2017-06-11 19:26] ariutta commented on #87
@davidpelayo, any chance you'd want to collaborate with @super-cache-money? There's already a [forked repo](https://github.com/super-cache-money/orb) and corresponding [NPM package](https://www.npmjs.com/package/orb-fork). It'd be great to see development coalesce around one fork as an [OPEN Open Source Project](http://openopensource.org/).

[2017-06-12 06:58] davidpelayo commented on #87
@ariutta I would agree with that. However, after being thinking a while, I believe it's better to rewrite the solution from the scratch [to start a new one](https://news.ycombinator.com/item?id=14512995). [The issue I raised](https://github.com/davidpelayo/orb-latest/issues/4). What do you guys think?

[2017-06-12 11:15] thecodejack commented on #87
Agreed with @davidpelayo. I have improved current version of orb to match excel like features for my work. But I am still facing lot of issues. For example, orb stucks when it is having 3 cols,3 rows and 4 aggregate functions with 10,000 rows of complex data. And there is no easy fix on orb. We need proper open source project. I can help you guys as well.

[2017-06-12 17:43] ariutta commented on #87
I'm fine with a rewrite. Could we keep the same API?

On Jun 12, 2017 4:15 AM, "thecodejack" <notifications@github.com> wrote:

[2017-06-12 17:47] super-cache-money commented on #87
@davidpelayo rewrite sounds great! It's such a shame that this has stagnated. Please ignore my fork, I haven't/can't work on it at all. I can transfer the npm package rights to you if you'd like.

[2017-06-12 18:06] davidpelayo commented on #87
@super-cache-money @ariutta I even thought of [renaming the package (already created a repo for it)](https://github.com/binomads/orbitable). We can start with this current package as a legacy solution, so we can go fixing and iterating it for the community, if needed.
In parallel, starting a new fresh solution with the new API, while consistently founding the contributors circle and establish the

[2017-06-12 20:28] ariutta commented on #87
Realistically, I've probably only got time for testing and bug-fixing at the moment.

[2017-06-12 20:32] ariutta commented on #87
If you're doing a rewrite, you may be interested in taking a look at the library [tad](https://github.com/antonycourtney/tad). It's currently packaged as an Electron app, but much of the code would be useful for an in-browser pivot table.

[2017-06-17 12:22] tyfnckgz opened #90 "IE 11 issue"
Drag and drop for column fields not working on IE 11.

[2017-06-19 06:36] thecodejack commented on #87
@davidpelayo I can help over the weekends.

[2017-06-28 02:31] turnerniles commented on #87
Hi @nnajm, @davidpelayo, @jsegura, @ariutta, @super-cache-money, @cohenoshri and all. We are facing the challenge of pivoting "large" amounts of data in browser. And want a similar experience to [orb](https://github.com/nnajm/orb) and [PivotTable.js](https://github.com/nicolaskruchten/pivottable). We are working on [**react-virtualized-pivot**](https://github.com/turnerniles/react-virtualized-pivo

[2017-07-03 11:32] cohenoshri commented on #87
I am interested in contributing, I started converting that project to reactJS but had to let it go due to time constraints.

[2017-07-12 11:34] fcafra commented on #88
I try your version but  you missing this
https://github.com/nnajm/orb/issues/35#issuecomment-148201322
for example.

Can you explain me please about several fixes ?
Thank's

[2017-07-12 22:07] gauravraheja opened #92 "function n(e){return null!=e?e.toString():""} error when we shift 2 columns headers"
when we change position of a column header from one position to another (as column only) it gives following error
function n(e){return null!=e?e.toString():""}

![orb pivot table javascript library](https://user-images.githubusercontent.com/26897777/28141921-56ed0ed6-677c-11e7-96f4-076f2ad493f6.png)

[2017-07-19 18:17] #69 closed

[2017-08-18 04:02] Yeng77 commented on #92
To the Author, Can you at least provide us where the code is located, I have stepped through the functions getvlaue, movefield conputeValues, but I can't pinpoint where the part the values is displayed so I can insert an eval or an equivalent.

[2017-08-26 22:37] turnerniles commented on #87
@cohenoshri @all, we've made a lot of progress on [**react-virtualized-pivot**](https://github.com/turnerniles/react-virtualized-pivot). Let us know what you think!
![image](https://user-images.githubusercontent.com/8146241/29742823-06c2adf8-8a54-11e7-96ed-18466e853482.gif)

[2017-08-28 22:02] super-cache-money commented on #87
Wow, looks great!
Arjun Khoosal | https://www.kandua.com

Sent from my mobile

On 27 Aug 2017 00:37, "Niles Turner" <notifications@github.com> wrote:

[2017-09-11 08:50] mydaypower1 commented on #92
I am facing the same issue, All will try to look into it, So if anyone can point us where the issue is that will be very appreciate.

Thanks

[2017-09-12 01:58] mydaypower1 commented on #81
@stephanoapiolaza Could you please open a PR if possiable? Will to see it.

BTW, Anyone know if the orb being maintenanced now?

[2017-09-21 17:01] gspears00 opened #93 "Where is latest version?"
Since it appears that development has stopped, where can I find the latest version/fork?  I am running into a couple of issues, specifically when having 2 fields in the rows, and collapsing, the pixel height is off.  The other issue is that when I created a 'COUNT' column, and then change the order of the columns/data fields around, I suddenly see the javascript in my cells as opposed to seeing th

[2017-10-22 12:40] stephanoapiolaza commented on #81
@mydaypower1 The orb isn´t maintenanced, but I´m thinking to do a fork with new features, but I don´t have time.

[2017-11-14 01:23] DavidIMcIntosh commented on #87
Hi @turnerniles.  How would you describe the state of usability of this  react-virtualized-pivot?  I am willing to do some work over the long haul, but I need something that is at least currently functional - I have a deliverable due in a month, and need at least basic functionality.

[2017-11-14 05:48] turnerniles commented on #87
@DavidIMcIntosh It's fully functional at this point and we are working on additional features. Please check out the demo [here](https://turnerniles.github.io/react-virtualized-pivot) and leave feedback / open issues on the [github](https://github.com/turnerniles/react-virtualized-pivot)!

[2017-11-14 13:40] DavidIMcIntosh commented on #87
@turnerniles Thanks for the quick response.  Will do.  Is there a list of features that need working on in the repo?

[2017-11-16 14:35] katherdx commented on #92
@gauravraheja  Replace below code, it will work.
[code]

[2017-11-22 02:33] turnerniles commented on #87
@DavidIMcIntosh We're sort of just expanding the feature set as issues/requests come in. A well defined list of needed features and/or a roadmap is something we should add. We've just added row totals and we're working to add column totals, predefined pivots and allowing the pivot to return its state. Please open issues as you see fit for any additional features. I think in general we may have to

[2017-11-22 15:10] tallesgmaion opened #94 "Qlik Sense"
First of all I would like to congratulate you for the excellent framework created!!!

I am currently trying to integrate **orbjs** into **Qlik Sense** and am encountering difficulties due to the same use **requirejs**.

I believe the problem is related to line 2.968: **var react = typeof window === 'undefined' ? _dereq_('react') : window.React;**

Has anyone gone through this or do you know what n

[2017-12-20 13:29] sitaramaiah opened #95 "[new bee] Trying to load orb component in the react but nothing showing up"
Hi ,

I am very new react and orb. Trying to implement orb as a component in the react part of div tag. But i don't see  any example for direct usage in react module. Please share any working example.  sharing the below code . please correct me in case of any issues.

import orb from 'orb';
import pgridwidget from 'orb';
import demo from '../demo.data.js';
import react, {Component} from "react";
i

[2018-03-14 14:11] pnd459 opened #96 "how to get data for pivot from ajax or csv"
hi

Can we use Server side CSV file as data source or data from web services returns list of objects

[2018-03-18 04:00] raviviswanathan opened #97 "Uncaught Error: Invariant Violation: findComponentRoot(..., .0.1.1.0.0.0.0.0.1.0): Unable to find element. This probably means the DOM was unexpectedly mutated"
Getting this error while using drag and drop in Pivot table after 'refreshData'

[2018-03-25 14:06] surajprgupta opened #98 "http://orbjs.net is down"
Can't access the documentation, is there anyone who has the previous documentation !!!

[2018-04-04 13:59] spandey76 commented on #98
Same here.
http://orbjs.net/ seems to be down.

[2018-05-18 12:27] jzabroski commented on #98
Still down

[2018-08-01 09:53] bo-oz commented on #98
Is this still being supported?

[2019-07-02 19:52] KMouratidis commented on #76
This is borderline spam, but I have to ask: Did you find how to do this?

[2019-07-28 17:23] pointbazaar commented on #98
still down

[2019-08-30 15:59] akuckartz commented on #98
Now used by cybersquatters :-(

[2019-10-19 14:25] vikaschouhan8 commented on #95
You forget to render the table generated

[2022-03-11 03:45] adityair commented on #97
@raviviswanathan are you solved this? i got same error like this